POSTGRES_PASSWORD=change-me
GF_ADMIN_PASSWORD=change-me
# Public URLs of the two Grafana instances (used for redirects and links)
GF_ROOT_URL=https://zevent.infra.jubnl.ch
GF_PUBLIC_ROOT_URL=https://zevent.jubnl.ch
